<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Ayodeji Adedipe</h1>
 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum ex veritatis accusantium expedita corporis quibusdam fugiat beatae delectus natus magnam enim, cupiditate, accusamus vel, iure aliquid molestiae necessitatibus id ducimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non in totam, deleniti at eligendi quam omnis mollitia ut obcaecati aliquam libero facilis amet eaque ipsam, laboriosam earum aspernatur natus architecto.</p>
</body>
</html>